@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'Fonts/neometric/style.css' ; /* Fonts */
:root{
    /* WD = White & Dark Transfare */
    --WD:light-dark(rgba(33, 36, 41 , .1), rgba(255, 255, 255, .1));
}
*{
    transition: all 0.225s linear;
}
body{
    font-family: 'Neometric Regular'; 
    min-height: 150dvh;
    .navbar{
        /* background-color: var(--WD); */
        backdrop-filter: opacity(.2);
        border-bottom: 1px solid ;
        .container{
             /* background-color: var(--WD); */
            .navbar-brand{
                img{
                    height: 45px;
                }
            }
            .collapse{
                .navbar-nav{
                    display: flex;
                    gap: 0.35em;
                    .nav-link{
                        width: fit-content;
                        text-transform: capitalize;
                        i{
                            margin: 0 .5rem 0 0;
                        }
                        &.active{
                            border-bottom: 1px solid;
                        }&:not(.active){
                            border-bottom: transparent 1px solid ;
                        }
                    }
                }
            }
        }
        &.hide{
            transform: translateY(-100%);
        }
    }
    .footer{
        background-color: var(--WD);
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            .footer-logo{
                img{
                    height: 45px;
                }
            }
            .footer-nav{
                display: flex;
                gap: 1em;
                .nav-link{
                    text-transform: capitalize;
                    i{
                        margin: 0 .5rem 0 0;
                    }
                }
            }
        }
    }
}